table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
	position: relative;
}

tr[ng-click] {
	cursor: pointer;
}

.popover {
	display: block !important;
    position: absolute;
    top: 0;
    left: 90%;
    width: 122px;
    background: grey;
    padding: 10px;
    color: black;
    border-radius: 3px;
}

.popover:after {
  content: '';
  position: absolute;
  top: 25%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}